<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
</head>
<body>
<form action="/order" name="orders" method="post">
        <table style="width: 80VW" class="order-table" border="1" align="center">
            <caption><b>订单列表</b></caption>
            <thead>
                <tr>
                    <th>
                        用户
                    </th>
                    <th>
                        二手房
                    </th>
                    <th>
                        预约时间
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>

            <tbody align="center">
                {% for order in orders %}
                <tr>
                    <td>{{order.userid}}</td>
                    <td>{{order.house_id}}</td>
                    <td>{{order.otime}}</td>
                    <td>
                        <button type="submit" name="delete" value={{order.oid}} style="width:40%">删除</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">

</body>
</html>